<p>login works!</p>
<form [formGroup]="loginPage">
    <label for="userName">User Name:</label>
    <input type="text" formControlName="userName" placeholder="User Name">
    <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
      <div *ngIf="f.userName.errors.required">User Name is required</div>
    </div> 
    <label for="password">Last name:</label>
    <input type="text" id="password" formControlName="password" name="password"  placeholder="Password">
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">password is required</div>
    </div>
    <button (click)="onLoginClick()">login</button>
</form>

<p>
  Form Status: {{ loginPage.status }}
</p>
