.box1{
    background-color: #0084fd;
    width: 540px;
    height: 160px;
}

.box3{
    background-color: #878787;
    width: 540px;
    height: 44px;
}

.search{
    background-color: whitesmoke;
    height: 80px;
    width: 518px;
    margin-top: 11px;
    margin-left: 11px;
    margin-right: 11px;
    margin-bottom: 47px;
    text-align: center;
    font-size: 24px;
    color: #878787;
    font-family: sans-serif;
    border-radius: 2px;
}

.name{
    font-family: sans-serif;
    font-size: 24px;
    color: #000;
    width: 540px;
}

.number{
    font-family: sans-serif;
    font-size: 20px;
    color: #878787;
}

.contact{
    display: flex;
    width: 540px;
}

.image{
    float: left;
}

footer{
    height: 60px;
    width: 540px;
    font-family: sans-serif;
    font-size: 15px;
    background-color: #333333;
}

.space{
    margin-bottom: 40px;
    margin-left: 11px;
}



